# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# C#/.NET crap
obj
bin
*.log
*.user
*.FileListAbsolute.txt
/TypeScript VueJS App/dist/js/

**/Debug-64/
**/Debug-32/
**/Release-64/
**/Release-32/

**/x64/Debug/
**/x86/Debug/
**/x64/Release/
**/x86/Release/

**/node_modules/

